DATABASE_URL="mysql://USER:PASSWORD@localhost:3306/dsv_shop"
JWT_SECRET="change-this-development-secret"
PORT=3000
CLIENT_ORIGIN="http://localhost:5173"
WPRESS_PATH="../../DacSanViet_resource/www-dacsanviet-site-20251103-100939-hwzemsbn157g.wpress"
WP_HTDOCS_PATH="../../htdocs"
